<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>

    <div class="container">
        <h1>Painel Administrativo</h1>

        <a href="/admin/create" class="btn-create">Criar Novo Post</a>

        <hr class="separator">

        <ul class="posts">
            <% post.forEach(post => { %>
             <li>
                <article class="post">
                    <a href="/posts/<%=post.id %>" class="post-title">
                        <h2><%= post.title %></h2>
                    </a>

                    <div class="btn-group">
                        <form action="/admin/edit/<%= post.id %>" method="GET">
                            <button type="submit" class="btn-edit">Editar</button>
                        </form>
                            
                        <form action="/admin/delete/<%= post.id %>" method="POST">
                            <button type="submit" class="btn-delete">Deletar</button>
                        </form>
                    </div>
                </article>
             </li>
            <% }) %>
        </ul>
    </div>

    <%- include('partials/footer') %>
</body>
</html>